
.sidebar-nav {
    background: #fff;
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #1b2a47;
}

.sidebar-nav .metismenu {
    background: #1b2a47;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.sidebar-nav .metismenu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 13px 15px;
    color: #fff;
    outline-width: 0;
    transition: all .3s ease-out;
	font-size:16px;
}

.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 46px;
}

.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 45px;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active {
    color: #f8f9fa;
    text-decoration: none;
    background: #152036;
}
.sidebar-nav .metismenu li .icon-wrap{
	margin-right:10px;
	font-size:20px;
}
.sidebar-nav .metismenu li .sub-icon-mg{
	margin-right:5px;
	font-size:16px;
}
#sidebar.active .metismenu li .mini-click-non{
	display:none;
}


html, body {height: 100%; font-family: 'Roboto', sans-serif;font-weight:400;background:#152036;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight:700;
}


.left-sidebar-pro {
    top: 0;
    z-index: 9999;
    width: 240px;
}
#sidebar {
    top: 0;
    min-width: 205px;
    background: #1b2a47;
    color: #fff;
	position:fixed;
    transition: all 0.3s;
	z-index:999;
	height:100%;
}

